# Multi Dimensional Lists

### 1-D list

In [2]:
lst = [1,2,3,4]

In [8]:
print(lst[2])
print(lst[2:3])

3
[3]

### 2-D list

In [30]:
lst=[[1,2,3],
     [4,5,6],
     [7,8,9]]

print(lst[1][1])
print(lst[1:2][0][1:2])

5
[5]

### 3-D list

In [38]:
lst=[[[1,2,3],[11,22,33]],
     [[4,5,6],[44,55,66]],
    [[7,8,9],[77,88,99]]]


for i in lst:
    for j in i:
        print(j)
    print("__________")
    
print(lst[1][1][1])

[1, 2, 3]
[11, 22, 33]
__________
[4, 5, 6]
[44, 55, 66]
__________
[7, 8, 9]
[77, 88, 99]
__________
55

### Using as a Database

In [46]:
add=["Roll", "Name" ,"math", "Eng" ,"Bio" ,"Phy"]      
data=[[1,"Rahul",56,89,40,78],
     [2,"Miraz",65,73,81,68],
     [3,"Ani",40,89,82,92]]

r_nm=int(input("Enter the roll number: "))
for i in data:
    if r_nm==i[0]:
        for j in range(len(i)):
            print(add[j],":",i[j])
    
"""
calculate the average
average >40 C  
average >60 B
average >75 A
average >90 A+
"""

Enter the roll number: 1
Roll : 1
Name : Rahul
math : 56
Eng : 89
Bio : 40
Phy : 78

'\ncalculate the average\naverage >40 C  \naverage >60 B\naverage >75 A\naverage >90 A+\n'